// _hero.css
@use "breakpoints" as *;
@use "animations" as *;

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: calc(100vh - var(--navbar-height));

  @include respond(sm) {
    flex-direction: column;
    gap: 25px;
  }

  #avatar {
    width: auto;
    height: max(33vh, 15rem);
    border-radius: 50%;
    margin-right: 20px;

    @include respond(sm) {
      display: none;
    }
  }

  .hero-text {
    padding: 0 var(--navbar-padding-x);

    @include respond(sm) {
      text-align: center;
    }
  }

  #waving-hand {
    font-size: 6rem;
    transform-origin: bottom;
    animation: wave 1s infinite;
    z-index: -1 !important;

    @include respond(sm) {
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  h2 {
    font-weight: 400;
  }

  #scroll-down {
    position: absolute;
    bottom: 20px;
    font-size: 36px;
    z-index: 1 !important;
  }
}
