// _section.scss

div.section {
  display: flex;
  position: relative;
  &.section-gradient {
    background: linear-gradient(
      -90deg,
      var(--primary-color),
      var(--secondary-color)
    );
  }
}
