// _tokens.scss

/*##### THEME CONFIGURATION #####*/

/*----- JB24 Theme Tokens -----*/
// Colors
$theme-jb24-primary: #197961;
$theme-jb24-secondary: #0e3791;
$theme-jb24-bg-light: #fefefe;
$theme-jb24-bg-dark: #1f1f1f;
$theme-jb24-font-light: #000000;
$theme-jb24-font-dark: #f1f1f1;

/*----- JB25 Theme Tokens -----*/
// Colors
$theme-jb25-primary: $theme-jb24-primary;
$theme-jb25-secondary: #00679e;
$theme-jb25-accent: #0c6f80;
$theme-jb25-bg-light: $theme-jb24-bg-light;
$theme-jb25-bg-dark: $theme-jb24-bg-dark;
$theme-jb25-font-light: $theme-jb24-font-light;
$theme-jb25-font-dark: $theme-jb24-font-dark;

// Navbar
$theme-jb25-navbar-height: 75px;
$theme-jb25-navbar-padding-x: 25px;
$theme-jb25-navbar-padding-y: 15px;
$theme-jb25-navbar-background: $theme-jb25-bg-dark;
$theme-jb25-navbar-font-color: $theme-jb25-font-dark;
