// global.scss

@use "tokens";
@use "theme";
@use "base";
@use "navbar";
@use "hero";

body {
  margin: 0;
}

.gradient-text {
  font-weight: 800;
  font-size: 2rem;
  background: linear-gradient(
    -90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
