// global.scss

@use "tokens";
@use "theme";
@use "base";
@use "breakpoints" as *;
@use "animations" as *;
@use "navbar";
@use "hero";
@use "section";

body {
  margin: 0;
}

.gradient-text {
  font-weight: inherit;
  font-size: inherit;
  background: linear-gradient(
    -90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: inherit;
  color: inherit;
  padding: 10px 20px;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: hue-rotate(45deg);
  }
}

.animated.open {
  display: none;
}
