@import "./global.css";

:root {
  --card-bg: #efefef;
}

[data-theme="dark"] {
  --card-bg: #202020;
}

.card {
  width: 25rem;
  max-width: 80vw;
  background-color: var(--card-bg);
  border-radius: 15px;
}

@keyframes cardHover {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  0% {
    box-shadow: none;
  }
}

.card:hover {
  animation: cardHover 0.5s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.wide {
  width: 500px;
}

.info {
  min-width: 15rem;
  width: fit-content;
  max-width: 25rem;
  padding: 25px;
  border: 1px solid #898989;
}

@keyframes infoHover {
  0% {
    border-color: #898989;
  }
  100% {
    border-color: var(--font-color);
  }
}

.info:hover {
  animation: infoHover 0.5s;
  border-color: var(--font-color);
  box-shadow: none;
}

.card img {
  width: inherit;
  max-width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 16rem;
  object-fit: cover;
  user-select: none;
}

@media only screen and (max-width: 550px) {
  .card img {
    object-fit: fill;
  }
}

.cardContents {
  padding: 15px;
}

.cardTitle {
  font-size: 26px;
}

.info .cardTitle {
  padding: 5px;
}

.cardSubtitle {
  font-size: 18px;
  font-style: italic;
}

.cardBody {
  font-size: 16px;
}

.info .cardBody {
  text-align: center;
  font-size: 20px;
}

.cardTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.cardTag {
  font-size: 14px;
  background-image: radial-gradient(
    farthest-side at 50vw 100vh,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  color: var(--hero-font-color);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  user-select: none;
}

.cardButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 25px;
}

.cardButton {
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.liveButton {
  background-color: dodgerblue;
}

.sourceButton {
  background-color: tomato;
}
