@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
  --primary-color: rgb(68, 51, 238);
  --secondary-color: #2512dc;
  --bg-color: #eee;
  --hero-font-color: #eee;
  --font-color: #121212;
}

[data-theme="dark"] {
  animation: darkMode 2s;
  --primary-color: rgb(68, 51, 238);
  --secondary-color: #2512dc;
  --bg-color: #121212;
  --hero-font-color: #eee;
  --font-color: #eee;
}

body {
  margin: 0;
  margin-bottom: 25px;
}

.content {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Nunito;
  margin: 0;
  overflow-x: hidden;
}

a {
  background: linear-gradient(
    45deg,
    var(--secondary-color) 50%,
    var(--primary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--secondary-color);
}

hr {
  width: 50vw;
  margin-top: 50px;
  margin-bottom: 25px;
}
