@import url("./global.css");

:root {
  --gradient-major: rgb(68, 51, 238);
  --gradient-minor: #2512dc;
  --font-color: #ddd;
}

.hero-content {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    farthest-side at 50vw 100vh,
    var(--gradient-minor) 0%,
    var(--gradient-major) 100%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: var(--font-color);
}

.nav-item {
  margin: 5px 10px;
}

.nav-title {
  margin: 5px 20px;
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-button {
  border: 1px solid var(--font-color);
  padding: 10px;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: var(--font-color);
  color: var(--gradient-major);
  cursor: pointer;
}

.nav-container {
  margin: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  #anchors {
    display: none;
  }
}
