@import "./global.css";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-content {
  width: 100vw;
  min-height: 500px;
  height: 100vh;
  background-color: transparent;
  color: var(--hero-font-color);
  text-align: center;
  user-select: none;
}

.hero-avatar {
  margin: auto;
  margin-top: 20vh;
  background-image: url(../img/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  transition: transform 0.5s, background-image 0.35s ease-in-out;
  animation: fadeIn 2s;
}

.hero-avatar:hover {
  transform: rotate(5deg) scale(1.1);
  background-image: url(../img/avatar-2.png);
}

.hero-title {
  font-size: 48px;
  margin-top: 10px;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.hero-subtitle {
  font-size: 24px;
  animation: fadeIn 7s;
}
