@import "./global.css";

.toggleButton {
  display: inline;
  position: fixed;
  z-index: 50;
  bottom: 25px;
  left: 25px;
  width: 100px;
  height: 50px;
  border: 2px solid var(--primary-color);
  background-color: var(--font-color);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 1s, color 0.5s, border 0.5s;
}

.toggleButton:hover {
  background-color: var(--primary-color);
  background: linear-gradient(
    var(--primary-color) 100%,
    var(--secondary-color) 0
  );
  border-color: var(--font-color);
  color: var(--font-color);
  cursor: pointer;
}
