/* src/styles/fonts.css */
@font-face {
  font-family: "WinXP";
  src: url("/fonts/windows-xp-tahoma.otf") format("opentype"),
    url("/fonts/windows-xp-tahoma.ttf") format("truetype");
}

.monitor {
  cursor: url("/icons/cursor.png"), auto !important;
  font-family: "WinXP";
}

.desktop {
  background: url("/desktop-wallpaper.jpg");
  background-position: 50%;
}

.taskbar {
  background: linear-gradient(0deg, #225cdc 85%, #a2c9ff);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.start {
  background: url("/icons/start.png");
  background-repeat: no-repeat;
  background-size: COVER;
  min-height: 35px;
  min-width: 110px;
  z-index: 2;
}

.start:hover {
  background: url("/icons/start-hover.png");
  background-repeat: no-repeat;
  background-size: COVER;
}

.clock {
  background: linear-gradient(0deg, #0080d3 80%, #a2c9ff);
  user-select: none;
  box-shadow: inset 0 0 3px 0px rgba(255, 255, 255, 0.5);
  letter-spacing: 1.5px;
}
