<div id="about" class="section section-gradient">
  About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />About<br />About<br />About<br />About<br />About<br />About<br
  />About<br />
</div>
