---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import avatarImage from "../assets/avatar.png";
---

<div class="hero-container">
  <Image src={avatarImage} id="avatar" alt="Jake Busse avatar" />
  <div class="hero-text">
    <div id="waving-hand" class="animated">👋</div>
    <h1>
      Hey, I'm <span class="gradient-text">Jake</span>
    </h1>
    <h2>Welcome to my humble corner of the web!</h2>
  </div>
  <div id="scroll-down" class="animated"><Icon name="hero-down" /></div>
</div>
