---
import Button from "../components/Button.astro";
---

<nav>
  <div class="gradient-text">Jake Busse</div>
  <div class="navbar-links">
    <a href="/" class="navlink">Home</a>
    <Button>Click Me!</Button>
  </div>
</nav>
