.window {
  position: absolute;
  height: 75vh;
  width: 60vw;
  border-radius: 5px;
}

.windowHeader {
  background: linear-gradient(to top, #0055e1 85%, #7e9bc9, #0055e1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 20px;
  margin-bottom: -10px;
}

.windowHeaderIcon {
  height: 20px;
  width: auto;
  margin-top: 3px;
  filter: drop-shadow(0px 1px 3px black);
  -webkit-user-drag: none;
  user-select: none;
}

.windowHeaderTitle {
  text-shadow: 0px 1px 3px black;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 3px;
  user-select: none;
}

.windowActionButtonContainer:hover {
  background-color: white;
  border-radius: 5px;
}

.windowActionButton {
  width: 30px;
  height: 30px;
  user-select: none;
  -moz-window-dragging: none;
}

.windowActionButton:hover {
  opacity: 0.9;
}

.windowBody {
  background-color: white;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #012482;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 3px 1px rgb(25, 25, 100, 0.5);
}

.fullscreen {
  position: absolute;
  top: 0 !important;
  bottom: 35px !important;
  left: 0 !important;
  right: 0 !important;
  height: calc(100% - 35px);
  width: 100% !important;
}

.fullscreen .windowHeader,
.fullscreen .windowBody {
  border-radius: 0px !important;
}
